@import url("./vendor/animate.css");

.coin-root {
	position: relative;
	font-family: Font Awesome\ 5 Free, FontAwesome, Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 1.14375;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.coin-texture, .coin-background-pattern {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.coin-texture {
	background: url("https://static.socialos.net/inspinia/html/crypto/images/coin-texture.svg") center center no-repeat;
	background-size: contain;
}
.coin-image, .coin-video {
	position: relative;
	z-index: 0;
	width: 67%;
	height: 67%;
	left: 18.2%;
	top: 16.5%;
	overflow: hidden;
}
.coin-pattern {
	position: absolute;
	z-index: 2;
	width: 96%;
	height: 96%;
	left: 4%;
	margin-top: 2%;
}
.coin-upper, .coin-lower, .coin-upper-shadow, .coin-lower-shadow {
	position: absolute;
	z-index: 2;
	width: 100%;
	left: 1.7%;
	font-weight: bold;
}
.coin-upper, .coin-upper-shadow {
	top: 5.25%;
}
.coin-lower, .coin-lower-shadow {
	bottom: 5.25%;
}
.coin-upper, .coin-lower {
	z-index: 3;
}
.coin-upper span, .coin-lower span {
	background: linear-gradient(12deg,
	rgba(255, 255, 255, 0.3) 0%,
	rgba(255, 255, 255, 0.2) 40%,
	rgba(255, 255, 255, 0.4) 50%,
	rgba(255, 255, 255, 0.2) 60%,
	rgba(255, 255, 255, 0.2) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.coin-video video {
	height: 100%;
}